/* Google fonts import */

/* Asterisk wildcard selector to override default styles added by the browser */

/* General styles */

/* Header */

header {
    background-color: #2c6e49;
}

/* Main content */

main {
    background-color: #ffc9b9;
}

/* Footer */

footer {
    background-color: #d68c45;
}


/* Media query: large or landscape phones (576px and up) */
/* Media query: tablets and larger (768px and up) */
/* Media query: laptops and larger (992px and up) */
/* Media query: large screens (1200px and up) */